*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(233, 232, 232);
}

/* Fonts */

@font-face {
    font-family: 'Nerko-One';
    src: url(../font/NerkoOne-Regular.ttf);
}

@font-face {
    font-family: 'Helvetica-Neue';
    src: url(../font/HelveticaNeueBlack.otf);
}

@font-face {
    font-family: 'Monserrat';
    src: url(../font/Montserrat-VariableFont_wght.ttf);
}

h1 {
    color: orange;
    font-family: "Nerko-One", cursive;
    font-weight: 400;
    font-style: normal;
   }

.testo {
    display: inline;
    font-family: "Monserrat";
    font-size: 12px;
}

.grigio {
    color: gray;
    font-size: 12px;
}

.bold {
    font-weight:bolder;
    color: black;
    display: inline;
    font-size: 12px;
}

p {
    line-height: 1.6;
}
  
/* Intestazione */

header {
    text-align: center;
}

/* Sezioni */

.tablet-title {
    display: none;
}


section {
    display: flex;
    justify-content: center;
}

.container {
    margin-left: 20px;
    margin-top: 30px;
    margin-right: 20px;
}

.Tiramisu {
    font-family: "Helvetica-Neue";
    font-weight: 600;
    color: rgb(87, 6, 163); 
    margin-top: 8px;
    margin-bottom: 20px;
}

h2 {
    font-family: "Monserrat";
    font-weight: 400;
}

.video-container {
    display: flex;
    justify-content: center;
}

.subtext-container {
    background-color: white;
    padding-bottom: 40px;
}

.text-container {
    background-color: white;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.riga {
    margin-bottom: 10px;
}

h3 {
    margin-bottom: 30px;
}

.barra-icone {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.icona-azzurra {
    color: rgb(30, 194, 248);
}

.icona-rossa {
    color: red;
}

.icona-y {
    color: red;
}

.icona-rosa {
    color: #C13584;
}

.icona-blu {
    color: blue;
}

.button {
    border: none;
    padding: 15px;
    background-color: white;
    display: inline-block;
    border-radius: 100px;
}

.banner {
    display:none;
}

/* Sezione Presentazione */

.col {
    width: 20%;
    height: 15px;
    border-top: 2px solid orange;
}

.container-image {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.presentazione {
    margin-top: 10px;
}

.container-presentazione {
    padding-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

img {
    width: 100%;
}

/* Piè di pagina */

footer {
    background-color: blueviolet;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container-testo-footer {
    color: white;
}

.link-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.grassetto {
    font-weight: bold;
}

a {
    color: white;
}

.link-footer {
    width: 25%;
    padding: 10px;
}

/************************************************
    SOLUZIONE RESPONSIVE
 ************************************************/

 /* Tablet */

 @media screen and (min-width:768px) and (max-width:991px) {

    header {
        background-color: white;
        text-align: left;
        padding-left: 20px;
    }

    section {
        display: flex;
        justify-content: center;
        padding-left: 50px;
        padding-right: 50px;
    }

    .Tiramisu {
        display: none;
    }

    .tablet-title {
        font-family: "Helvetica-Neue";
        font-weight: 600;
        font-size: 40px;
        color: rgb(87, 6, 163); 
        margin-top: 8px;
        margin-bottom: 20px;
        display: block;
    }

    .button {
        width: 110px;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 20px;
    }

    .banner {
        margin-left: 120px;
        margin-right: 110px;
        height: 72px;
        margin-bottom: 30px;
        display: block;
    }

    .subtext-container {
        display: flex;
        flex-wrap: wrap;
    }

    .riga {
        width:25%;
        margin-right: 20px;
    }

    .container-image {
        float:left;
        margin-top: 20px;
    }

    .container-presentazione::after {
        content: "";
        display: table;
        clear: both;
    }

    .col {
        width: 10%;
        margin-right: 10px;
    }

    .testo-presentazione {
        margin-top: 15px; 
    }

    .container-image {
        margin-right: 10px;
        width: 40%;
        }

    /* Footer */

    footer {
        font-size: 10px;
    }

    .link-footer {
        width: 18%;
    }

    .link-container {
        justify-content: space-around;
        width: 60%;
        margin-right: auto;
        margin-left: auto;
    }

    }


 /* Desktop */

 @media screen and (min-width:992px) {

    header {
        background-color: white;
        text-align: left;
        padding-left: 20px;
    }

    section {
        display: flex;
        justify-content: center;
        padding-left: 100px;
        padding-right: 100px;
    }

    .Tiramisu {
        display: none;
    }

    .tablet-title {
        font-family: "Helvetica-Neue";
        font-weight: 600;
        font-size: 40px;
        color: rgb(87, 6, 163); 
        margin-top: 8px;
        margin-bottom: 20px;
        display: block;
    }

    .video-container { 
        width: 60%;
    }

    .text-container {
        width: 40%;
    }

    .sub-container {
        display: flex;
        justify-content: space-between;
    }

    .icona-blu::after {
        content: "FACEBOOK";
        color: black;
        font-size: 10px;
        font-weight: bold;
        padding-left: 5px;
    }

    .icona-azzurra::after {
        content: "TWITTER";
        color: black;
        font-size: 10px;
        font-weight: bold;
        padding-left: 5px;
    }

    .icona-rosa::after {
        content: "INSTAGRAM";
        color: black;
        font-size: 10px;
        font-weight: bold;
        padding-left: 5px;
    }

    .icona-rossa::after {
        content: "PINTEREST";
        color: black;
        font-size: 10px;
        font-weight: bold;
        padding-left: 5px;
    }

    .icona-y::after {
        content: "YOUTUBE";
        color: black;
        font-size: 10px;
        font-weight: bold;
        padding-left: 5px;
    }

    .button {
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 100px;
        padding-top: 8px;
        padding-bottom: 8px;
        width: 20%;
        margin-right: 15px;
    }

    .banner {
        margin-left: 110px;
        margin-right: 110px;
        height: 72px;
        margin-bottom: 30px;
        display: block;
    }

    .container-image {
        float:left;
        margin-top: 20px;
    }

    .container-presentazione::after {
        content: "";
        display: table;
        clear: both;
    }

    .col {
        width: 10%;
        margin-right: 10px;
    }

    .testo-presentazione {
        margin-top: 15px; 
    }

    .container-image {
        margin-right: 10px;
        width: 30%;
        }
        

    /* Footer */

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 9px;
        height: 55px;
    }

    .address-container {
        text-align: left;
        width: 45%;
    }

    .container-testo-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        padding-right: 5px;
        width: 100%;

    }

    .link-footer {
        width: 20%;
    }

    .link-container {
        justify-content: flex-end;
        align-items: center;
        width: 38%;
    }

 }

 /* Large Mobile */

 @media screen and (max-width:767px) and (min-width:576px) {

    .container-image {
        float:left;
        margin-top: 20px;
    }

    .container-presentazione::after {
        content: "";
        display: table;
        clear: both;
    }

    .col {
        width: 10%;
        margin-right: 10px;
    }

    .testo-presentazione {
        margin-top: 15px; 
    }

    .container-image {
        margin-right: 10px;
        width: 20%;
        }

 }